.button.button_primary {
    display: inline-flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 16px;
    border-width: 0;
    cursor: pointer;
    background: #36449c;
    color: #fff;
    font-family: Onest, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

.button.button_primary:not(:disabled):hover {
    box-shadow: 0 4px 4px 0 rgba(216, 216, 216, 0.25);
}

.button.button_primary:active {
    background: #222b62;
    border-color: #222b62;
}

.button.button_primary:disabled {
    background: #9398b5;
    border-color: #9398b5;

    color: #fff;
    cursor: not-allowed;
}
