.user-input-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
}

.user-input-container > label {
    text-align: left;
    color: #1a1a1a;
    font-family: Onest, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    margin-bottom: 4px;
}
