button.blue-button {
    display: inline-flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;

    border-radius: 16px;
    border-width: 0;
    cursor: pointer;
    background: #36449c;

    color: #fff;
    leading-trim: both;
    text-edge: cap;

    /* body/button */
    font-family: Onest, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

button.blue-button:not(:disabled):hover {
    box-shadow: 0px 4px 4px 0px rgba(216, 216, 216, 0.25);
}

button.blue-button:active {
    background: #222b62;
    border-color: #222b62;
}
