div.expandable-panel {
    display: flex;
    padding: 16px 32px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    border-radius: 12px;

    background: #f6f6f6;
    box-shadow: 0px 4px 4px 0px rgba(216, 216, 216, 0.25);
}

div.expandable-panel .expandable-panel-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

div.expandable-panel-header > p {
    flex: 1 0 0;
    color: rgba(25, 28, 48, 0.9);

    /* body/large bold */
    font-family: Onest, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 22.4px */
    letter-spacing: 0.16px;
}

div.expandable-panel-header > button {
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
}

div.expandable-panel-header > button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

div.expandable-panel-header > button:active {
    background-color: rgba(0, 0, 0, 0.1);
}

div.expandable-panel-header > button > .expandable-panel-icon {
    width: 24px;
    height: 24px;
}

div.expandable-panel.expanded {
    background: #e0eaff;
    box-shadow: 0px 4px 4px 0px rgba(216, 216, 216, 0.25);
}

div.expandable-panel.expanded > .expandable-panel-content {
    align-self: stretch;
}

div.expandable-panel.expanded > .expandable-panel-content > p {
    color: #3d3d3d;
    font-family: Onest, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
    letter-spacing: 0.14px;
}
