.gray-panel {
    border-radius: 23px;
    border: 1px solid #ebebeb;
    background: #f6f6f6;

    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.gray-panel > h1 {
    color: #222;

    /* heading/h1 */
    font-family: Onest, sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 26px */

    align-self: stretch;
    
    margin-top: 0;
    margin-bottom: 0;
}

.gray-panel > p {
    color: #242424;

    /* body/large */
    font-family: Onest, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    letter-spacing: 0.16px;

    margin-top: 0;
    margin-bottom: 0;
}

.gray-panel > button {
    align-self: stretch;
}
