button.hollow-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    border-radius: 16px;
    border: 1px solid #3d3d3d;
    background: #fff;

    color: #3d3d3d;
    leading-trim: both;
    cursor: pointer;

    text-edge: cap;
    /* body/button */
    font-family: Onest, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

button.hollow-button-low {
    padding: 8px 16px;
}

button.hollow-button-high {
    padding: 16px 24px;
}

button.hollow-button:not(:disabled):hover {
    box-shadow: 0px 4px 4px 0px rgba(216, 216, 216, 0.25);
}

button.hollow-button:active {
    background: #ebebeb;
}

button.hollow-button:disabled {
    border: 1px solid #ccc;
    background: #f2f2f2;

    color: #ccc;
    cursor: not-allowed;
}
